.App {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
}

.Navigation {
    width: 100%;
    height: 21vh;
    background-color: #234465;
    color: white;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #ffa000;
    border-top: 2px solid #ffa000;
}

